* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    font-family: 'Sansita Swashed', cursive;
    /* font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; */
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

main {
    position: relative;
    background-image: url("https://images.pexels.com/photos/370984/pexels-photo-370984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    width: 100vw;
}

#header {
    backface-visibility: hidden;
}

#logo {
    height: 30vh;
    width: 100%;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#content, #reserved {
    background: rgba(255, 255, 255, 0.678);
    margin: 2rem auto;
    border: white solid 5px;
    padding: 0 4rem;
    max-width: 35vw;
    color: black;
}

#content {
    border: black solid 5px;
    text-align: center;
}


.section__title {
    margin: 1rem 0;
    font-size: 1.3rem;
}

.section__body {
    margin: 1rem 0;
    font-size: 1rem;
}

#reserved {
    text-align: center;
    padding-bottom: 1rem;
}

#form {
    margin: auto;
    text-align: left;
    max-width: 18vw;
}

#form label {
    background: rgb(32, 32, 32);
    color: white;
    padding: 2px 4px;
    text-transform: capitalize;
    display: block;
    
}

#form input {
    text-transform: uppercase;
    text-align: left;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
}

#submit {
    background: #ebc20c;
    color: white;
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    font-weight: bolder;
}

#submit:hover,
#submit:active {
    cursor: pointer;
    transition: all .2s;
}

#submit:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

#submit:active {
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#footer {
    color: white;
    text-align: center;
}