@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background-image: linear-gradient(to right, rgba(56, 56, 56, 0.3), rgba(56, 56, 56, 0.3)), url("https://images.pexels.com/photos/616330/pexels-photo-616330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  height: 8vh;
}
#navbar #navbar-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0 5rem;
  height: 100%;
  color: white;
  font-size: 1.3rem;
}
#navbar #navbar-list :nth-child(1) {
  justify-self: start;
}
#navbar #navbar-list :nth-child(2) {
  font-size: 2rem;
}
#navbar #navbar-list :nth-child(3) {
  justify-self: end;
}

main {
  height: 92vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 15vh;
  text-align: center;
}
main #date-title,
main #date-subTitle {
  font-size: 2.5rem;
  color: white;
}
main .main-container {
  display: grid;
  width: 25vw;
}
main .main-container #date-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid white 3px;
  color: white;
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
  padding: 0.5rem 0;
}
main .main-container #date-container :nth-child(1) {
  border-right: solid white 3px;
}
main .main-container #date-container :nth-child(2) {
  border-left: solid white 3px;
}
main .main-container #date-subTitle {
  font-size: 2rem;
}
main .main-container #launch-reserve {
  margin-top: 4rem;
  border: none;
  padding: 1rem;
  border-radius: 30px;
  width: 80%;
  justify-self: center;
  font-size: 1.5rem;
  color: #353535;
}
main .main-container #launch-reserve:hover {
  cursor: pointer;
}

#form-container {
  background: white;
  height: auto;
  width: 30vw;
  border-radius: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.5rem 3rem;
  grid-template-rows: 1fr 3fr;
}
#form-container #form-container-title {
  font-size: 2rem;
  font-weight: 300;
}
#form-container #form {
  text-align: left;
  width: 100%;
  animation: fadeIn 1s ease forwards;
}
#form-container #form label {
  background: #202020;
  color: white;
  padding: 2px 4px;
  text-transform: capitalize;
  display: block;
}
#form-container #form input {
  font-family: FontAwesome;
  display: inline-block;
  width: 100%;
  font-size: 1.3rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px #bdbdbd solid;
}
#form-container #form #reserve {
  cursor: pointer;
  margin: 0.8rem 0;
  background-color: #4f88ce;
  color: white;
  border: none;
  width: 100%;
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  animation: fadeUp 1s ease forwards;
}
@keyframes fadeUp {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20%);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
